In [134]:
library(tidyverse)
library(janitor)
library(leaps)

# STAT 306 Group C3 Project

# The Data & Goal Analysis

The data being explored is the [Real Estate Valuation Data Set](https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set) that explores real-estate prices in Sindian Dist., New Taipei City, Taiwan. This data consists of n=414 observations that contain various numerical and time-related features. This data was obtained through UC Irvine Machine Learning Repository.

The variables we have are: 
- X1 =  The transaction date in numerical units. For instance, 2013.250 equals March 2013, where the month is depicted as a fraction of the year (3/12 = 0.250) 
- X2 = The house age in years
- X3 = Distance to the nearest MRT station in metres (MRTs are metro transit systems) 
- X4 = Number of convenience stores in the living circle on foot by count (integer)
- X5 = Latitude in degree
- X6 = Longitude in degree

**The primary objective of this analysis is to determine how the real estate price is influenced by various factors such as house age, proximity to transportation (MRT), convenience store availability, and geographical location.**

# Reading In the Data

In [135]:
real_estate_data <- clean_names(real_estate_data)
head(real_estate_data)

  no x1_transaction_date x2_house_age x3_distance_to_the_nearest_mrt_station
1 1  2012.917            32.0           84.87882
2 2  2012.917            19.5          306.59470
3 3  2013.583            13.3          561.98450
4 4  2013.500            13.3          561.98450
5 5  2012.833             5.0          390.56840
6 6  2012.667             7.1         2175.03000
  x4_number_of_convenience_stores x5_latitude x6_longitude
1 10                              24.98298    121.5402
2  9                              24.98034    121.5395
3  5                              24.98746    121.5439
4  5                              24.98746    121.5439
5  5                              24.97937    121.5425
6  3                              24.96305    121.5125
  y_house_price_of_unit_area
1 37.9
2 42.2
3 47.3
4 54.8
5 43.1
6 32.1

# Feature Engineering & Model Development

In [147]:
df <- real_estate_data

# Time based features
df <- df %>%
  mutate(year = as.integer(df$x1_transaction_date)) %>%
  mutate(month = as.integer(round((x1_transaction_date - year) * 12), 1))

# Create location-based features
df$neighborhood <- kmeans(df[, c('x5_latitude', 'x6_longitude')], centers = 3)$cluster # Adjust centers as needed

# Proximity-based features
df$distance_to_mrt_category <- cut(df$x3_distance_to_the_nearest_mrt_station,
                            breaks = c(-Inf, 250, 500, 750, 1000, Inf),
                            labels = c("under_250m", "250m_500m", "500m_750m", "750m_1000m", "over_1000m"))

model_df <- select(df, -c(no))
model <- lm(y_house_price_of_unit_area ~ ., data = model_df)
summary(model)

Call:
lm(formula = y_house_price_of_unit_area ~ ., data = model_df)

Residuals:
    Min      1Q  Median      3Q     Max
-34.949  -3.985  -0.520   2.874  70.946

Coefficients:
                                         Estimate Std. Error t value Pr(>|t|)
(Intercept)                            -3.659e+04  7.557e+03  -4.842 1.84e-06
x1_transaction_date                    -2.857e+03  1.471e+03  -1.943 0.052757
x2_house_age                           -2.689e-01  3.579e-02  -7.513 3.83e-13
x3_distance_to_the_nearest_mrt_station -5.308e-04  7.652e-04  -0.694 0.488254
x4_number_of_convenience_stores         3.363e-01  1.931e-01   1.742 0.082344
x5_latitude                             2.082e+02  4.654e+01   4.474 1.00e-05
x6_longitude                            1.613e+02  5.810e+01   2.776 0.005768
year                                    2.863e+03  1.470e+03   1.947 0.052263
month                                   2.386e+02  1.226e+02   1.947 0.052260
neighborhood                            3.090e+00  9.979e-01   3.096 0.002100
distance_to_mrt_category250m_500m      -4.565e+00  1.181e+00  -3.863 0.000130
distance_to_mrt_category500m_750m      -6.583e+00  1.681e+00  -3.916 0.000106
distance_to_mrt_category750m_1000m     -1.216e+01  2.240e+00  -5.427 9.97e-08
distance_to_mrt_categoryover_1000m     -1.845e+01  1.868e+00  -9.877  < 2e-16

(Intercept)                            ***
x1_transaction_date                    .
x2_house_age                           ***
x3_distance_to_the_nearest_mrt_station
x4_number_of_convenience_stores        .
x5_latitude                            ***
x6_longitude                           **
year                                   .
month                                  .
neighborhood                           **
distance_to_mrt_category250m_500m      ***
distance_to_mrt_category500m_750m      ***
distance_to_mrt_category750m_1000m     ***
distance_to_mrt_categoryover_1000m     ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 7.909 on 400 degrees of freedom
Multiple R-squared:  0.6728,	Adjusted R-squared:  0.6622
F-statistic: 63.27 on 13 and 400 DF,  p-value: < 2.2e-16

## Model Selection

In [148]:
s <- regsubsets(y_house_price_of_unit_area ~., data = model_df, method = "exhaustive", nvmax = 100)
ss <- summary(s)

rss <- ss$rss
adjr2 <- ss$adjr2
bic <- ss$bic

variables <- data.frame((ss$which))
variables$model <- rownames(variables)
rownames(variables) <- 1:nrow(variables)

rss <- ss$rss
adjr2 <- ss$adjr2
bic <- ss$bic

output <- cbind(variables, RSS=rss, AdjR2=adjr2, BIC=bic)
output

   X.Intercept. x1_transaction_date x2_house_age
1  TRUE         FALSE               FALSE
2  TRUE         FALSE                TRUE
3  TRUE         FALSE                TRUE
4  TRUE         FALSE                TRUE
5  TRUE          TRUE                TRUE
6  TRUE          TRUE                TRUE
7  TRUE          TRUE                TRUE
8  TRUE          TRUE                TRUE
9  TRUE          TRUE                TRUE
10 TRUE          TRUE                TRUE
11 TRUE          TRUE                TRUE
12 TRUE          TRUE                TRUE
13 TRUE          TRUE                TRUE
   x3_distance_to_the_nearest_mrt_station x4_number_of_convenience_stores
1  FALSE                                  FALSE
2  FALSE                                  FALSE
3  FALSE                                  FALSE
4  FALSE                                  FALSE
5  FALSE                                  FALSE
6  FALSE                                   TRUE
7  FALSE                                  FALSE
8  FALSE                                  FALSE
9  FALSE                                  FALSE
10 FALSE                                   TRUE
11 FALSE                                  FALSE
12 FALSE                                   TRUE
13  TRUE                                   TRUE
   x5_latitude x6_longitude year  month neighborhood
1  FALSE       FALSE        FALSE FALSE FALSE
2  FALSE       FALSE        FALSE FALSE FALSE
3   TRUE       FALSE        FALSE FALSE FALSE
4   TRUE       FALSE        FALSE FALSE FALSE
5   TRUE       FALSE        FALSE FALSE FALSE
6   TRUE       FALSE        FALSE FALSE FALSE
7   TRUE       FALSE        FALSE FALSE FALSE
8   TRUE        TRUE        FALSE FALSE FALSE
9   TRUE        TRUE        FALSE FALSE  TRUE
10  TRUE        TRUE        FALSE FALSE  TRUE
11  TRUE        TRUE         TRUE  TRUE  TRUE
12  TRUE        TRUE         TRUE  TRUE  TRUE
13  TRUE        TRUE         TRUE  TRUE  TRUE
   distance_to_mrt_category250m_500m distance_to_mrt_category500m_750m
1  FALSE                             FALSE
2  FALSE                             FALSE
3  FALSE                             FALSE
4  FALSE                             FALSE
5  FALSE                             FALSE
6  FALSE                             FALSE
7   TRUE                              TRUE
8   TRUE                              TRUE
9   TRUE                              TRUE
10  TRUE                              TRUE
11  TRUE                              TRUE
12  TRUE                              TRUE
13  TRUE                              TRUE
   distance_to_mrt_category750m_1000m distance_to_mrt_categoryover_1000m model
1  FALSE                              TRUE                               1
2  FALSE                              TRUE                               2
3  FALSE                              TRUE                               3
4   TRUE                              TRUE                               4
5   TRUE                              TRUE                               5
6   TRUE                              TRUE                               6
7   TRUE                              TRUE                               7
8   TRUE                              TRUE                               8
9   TRUE                              TRUE                               9
10  TRUE                              TRUE                               10
11  TRUE                              TRUE                               11
12  TRUE                              TRUE                               12
13  TRUE                              TRUE                               13
   RSS      AdjR2     BIC
1  39574.66 0.4811666 -260.6073
2  34638.91 0.5447706 -309.7310
3  30909.09 0.5927977 -350.8710
4  28862.63 0.6188284 -373.2052
5  27938.95 0.6301225 -380.6450
6  27223.58 0.6387077 -385.3577
7  26379.54 0.6490469 -392.3707
8  26090.41 0.6520364 -390.9074
9  25438.99 0.6598845 -395.3495
10 25285.77 0.6610942 -391.8247
11 25245.95 0.6607861 -386.4512
12 25048.42 0.6626009 -383.6774
13 25018.47 0.6621619 -378.1469

In [149]:
best_adjr2 <- which.max(output$AdjR2) 
print(best_adjr2)
output %>% slice(best_adjr2)

[1] 12

  X.Intercept. x1_transaction_date x2_house_age
1 TRUE         TRUE                TRUE
  x3_distance_to_the_nearest_mrt_station x4_number_of_convenience_stores
1 FALSE                                  TRUE
  x5_latitude x6_longitude year month neighborhood
1 TRUE        TRUE         TRUE TRUE  TRUE
  distance_to_mrt_category250m_500m distance_to_mrt_category500m_750m
1 TRUE                              TRUE
  distance_to_mrt_category750m_1000m distance_to_mrt_categoryover_1000m model
1 TRUE                               TRUE                               12
  RSS      AdjR2     BIC
1 25048.42 0.6626009 -383.6774

## Interpretation Of The Results