In [18]:
library(tidyverse)
library(janitor)

Attaching package: 'janitor'


The following objects are masked from 'package:stats':

    chisq.test, fisher.test

In [10]:
df <- read_csv('https://raw.githubusercontent.com/calvingdu/stat306-c3-project/master/data/real_estate.csv')
head(df)

Rows: 414 Columns: 8
-- Column specification --------------------------------------------------------
Delimiter: ","
dbl (8): No, X1 transaction date, X2 house age, X3 distance to the nearest M...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  No X1 transaction date X2 house age X3 distance to the nearest MRT station
1 1  2012.917            32.0           84.87882
2 2  2012.917            19.5          306.59470
3 3  2013.583            13.3          561.98450
4 4  2013.500            13.3          561.98450
5 5  2012.833             5.0          390.56840
6 6  2012.667             7.1         2175.03000
  X4 number of convenience stores X5 latitude X6 longitude
1 10                              24.98298    121.5402
2  9                              24.98034    121.5395
3  5                              24.98746    121.5439
4  5                              24.98746    121.5439
5  5                              24.97937    121.5425
6  3                              24.96305    121.5125
  Y house price of unit area
1 37.9
2 42.2
3 47.3
4 54.8
5 43.1
6 32.1

In [21]:
df <- clean_names(df)
head(df)

  no x1_transaction_date x2_house_age x3_distance_to_the_nearest_mrt_station
1 1  2012.917            32.0           84.87882
2 2  2012.917            19.5          306.59470
3 3  2013.583            13.3          561.98450
4 4  2013.500            13.3          561.98450
5 5  2012.833             5.0          390.56840
6 6  2012.667             7.1         2175.03000
  x4_number_of_convenience_stores x5_latitude x6_longitude
1 10                              24.98298    121.5402
2  9                              24.98034    121.5395
3  5                              24.98746    121.5439
4  5                              24.98746    121.5439
5  5                              24.97937    121.5425
6  3                              24.96305    121.5125
  y_house_price_of_unit_area
1 37.9
2 42.2
3 47.3
4 54.8
5 43.1
6 32.1