In [255]:
library(tidyverse)
library(tidymodels)
library(janitor)
library(leaps)

# STAT 306 Group C3 Project

# The Data & Goal Analysis

The data being explored is the [Real Estate Valuation Data Set](https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set) that explores real-estate prices in Sindian Dist., New Taipei City, Taiwan. This data consists of n=414 observations that contain various numerical and time-related features. This data was obtained through UC Irvine Machine Learning Repository.

The variables we have are: 
- X1 =  The transaction date in numerical units. For instance, 2013.250 equals March 2013, where the month is depicted as a fraction of the year (3/12 = 0.250) 
- X2 = The house age in years
- X3 = Distance to the nearest MRT station in metres (MRTs are metro transit systems) 
- X4 = Number of convenience stores in the living circle on foot by count (integer)
- X5 = Latitude in degree
- X6 = Longitude in degree

**The primary objective of this analysis is to determine how the real estate price is influenced by various factors such as house age, proximity to transportation (MRT), convenience store availability, and geographical location.**

# Reading In the Data

In [256]:
real_estate_data <- clean_names(real_estate_data)
head(real_estate_data)

df_split <- initial_split(real_estate_data, prop = 0.8, strata = y_house_price_of_unit_area)
df_train <- training(df_split)
df_test <- testing(df_split)

  no x1_transaction_date x2_house_age x3_distance_to_the_nearest_mrt_station
1 1  2012.917            32.0           84.87882
2 2  2012.917            19.5          306.59470
3 3  2013.583            13.3          561.98450
4 4  2013.500            13.3          561.98450
5 5  2012.833             5.0          390.56840
6 6  2012.667             7.1         2175.03000
  x4_number_of_convenience_stores x5_latitude x6_longitude
1 10                              24.98298    121.5402
2  9                              24.98034    121.5395
3  5                              24.98746    121.5439
4  5                              24.98746    121.5439
5  5                              24.97937    121.5425
6  3                              24.96305    121.5125
  y_house_price_of_unit_area
1 37.9
2 42.2
3 47.3
4 54.8
5 43.1
6 32.1

# Feature Engineering & Model Development

In [257]:
# Time based features
df_train <- df_train %>%
  mutate(year = as.integer(x1_transaction_date)) %>%
  mutate(month = as.integer(round((x1_transaction_date - year) * 12), 1))

# Create location-based features
df_train$neighborhood <- kmeans(df_train[, c('x5_latitude', 'x6_longitude')], centers = 5)$cluster 

# Proximity-based features
df_train$distance_to_mrt_category <- cut(df_train$x3_distance_to_the_nearest_mrt_station,
                            breaks = c(-Inf, 250, 500, 750, 1000, Inf),
                            labels = c("under_250m", "250m_500m", "500m_750m", "750m_1000m", "over_1000m"))

model_df <- select(df_train, -c(no))

## Model Selection

In [258]:
s <- regsubsets(y_house_price_of_unit_area ~., data = model_df, method = "exhaustive", nvmax = 100)
ss <- summary(s)

rss <- ss$rss
adjr2 <- ss$adjr2
bic <- ss$bic

variables <- data.frame((ss$which))
variables$model <- rownames(variables)
rownames(variables) <- 1:nrow(variables)

rss <- ss$rss
adjr2 <- ss$adjr2
bic <- ss$bic

output <- cbind(variables, RSS=rss, AdjR2=adjr2, BIC=bic)
output

   X.Intercept. x1_transaction_date x2_house_age
1  TRUE         FALSE               FALSE
2  TRUE         FALSE                TRUE
3  TRUE         FALSE                TRUE
4  TRUE         FALSE                TRUE
5  TRUE         FALSE                TRUE
6  TRUE          TRUE                TRUE
7  TRUE          TRUE                TRUE
8  TRUE          TRUE                TRUE
9  TRUE          TRUE                TRUE
10 TRUE          TRUE                TRUE
11 TRUE          TRUE                TRUE
12 TRUE          TRUE                TRUE
13 TRUE          TRUE                TRUE
   x3_distance_to_the_nearest_mrt_station x4_number_of_convenience_stores
1  FALSE                                  FALSE
2  FALSE                                  FALSE
3  FALSE                                   TRUE
4  FALSE                                   TRUE
5  FALSE                                   TRUE
6  FALSE                                   TRUE
7  FALSE                                   TRUE
8  FALSE                                   TRUE
9  FALSE                                   TRUE
10 FALSE                                   TRUE
11 FALSE                                   TRUE
12 FALSE                                   TRUE
13  TRUE                                   TRUE
   x5_latitude x6_longitude year  month neighborhood
1  FALSE       FALSE        FALSE FALSE FALSE
2  FALSE       FALSE        FALSE FALSE FALSE
3  FALSE       FALSE        FALSE FALSE FALSE
4   TRUE       FALSE        FALSE FALSE FALSE
5   TRUE       FALSE        FALSE FALSE FALSE
6   TRUE       FALSE        FALSE FALSE FALSE
7   TRUE       FALSE        FALSE FALSE FALSE
8   TRUE       FALSE        FALSE FALSE FALSE
9   TRUE        TRUE        FALSE FALSE FALSE
10  TRUE       FALSE         TRUE  TRUE FALSE
11  TRUE        TRUE         TRUE  TRUE FALSE
12  TRUE        TRUE         TRUE  TRUE  TRUE
13  TRUE        TRUE         TRUE  TRUE  TRUE
   distance_to_mrt_category250m_500m distance_to_mrt_category500m_750m
1  FALSE                             FALSE
2  FALSE                             FALSE
3  FALSE                             FALSE
4  FALSE                             FALSE
5  FALSE                             FALSE
6  FALSE                             FALSE
7   TRUE                             FALSE
8   TRUE                              TRUE
9   TRUE                              TRUE
10  TRUE                              TRUE
11  TRUE                              TRUE
12  TRUE                              TRUE
13  TRUE                              TRUE
   distance_to_mrt_category750m_1000m distance_to_mrt_categoryover_1000m model
1  FALSE                              TRUE                               1
2  FALSE                              TRUE                               2
3  FALSE                              TRUE                               3
4  FALSE                              TRUE                               4
5   TRUE                              TRUE                               5
6   TRUE                              TRUE                               6
7   TRUE                              TRUE                               7
8   TRUE                              TRUE                               8
9   TRUE                              TRUE                               9
10  TRUE                              TRUE                               10
11  TRUE                              TRUE                               11
12  TRUE                              TRUE                               12
13  TRUE                              TRUE                               13
   RSS      AdjR2     BIC
1  28738.28 0.4860359 -208.3955
2  25226.19 0.5474634 -245.4838
3  22119.45 0.6019748 -282.9267
4  20647.13 0.6273215 -299.7924
5  19862.00 0.6403831 -306.7510
6  19178.16 0.6516861 -312.4818
7  18835.99 0.6568349 -312.6087
8  18189.16 0.6675836 -318.3090
9  17926.37 0.6713593 -317.3010
10 17862.75 0.6714959 -312.6747
11 17620.36 0.6749312 -311.3735
12 17561.19 0.6749975 -306.6840
13 17554.06 0.6740982 -301.0216

In [260]:
best_adjr2 <- which.max(output$AdjR2) 
print(best_adjr2)
print(max(output$AdjR2))
output %>% slice(best_adjr2)

[1] 12
[1] 0.6749975

  X.Intercept. x1_transaction_date x2_house_age
1 TRUE         TRUE                TRUE
  x3_distance_to_the_nearest_mrt_station x4_number_of_convenience_stores
1 FALSE                                  TRUE
  x5_latitude x6_longitude year month neighborhood
1 TRUE        TRUE         TRUE TRUE  TRUE
  distance_to_mrt_category250m_500m distance_to_mrt_category500m_750m
1 TRUE                              TRUE
  distance_to_mrt_category750m_1000m distance_to_mrt_categoryover_1000m model
1 TRUE                               TRUE                               12
  RSS      AdjR2     BIC
1 17561.19 0.6749975 -306.684

## Interpretation Of The Results